name: Build & Test
on:
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/rust.yml'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
      max-parallel: 3
      fail-fast: false
    steps:
    - uses: actions/checkout@v1
    - name: Change Project Name
      if: contains(runner.os, 'Windows')
      run: |
        get-content Cargo.toml | %{$_ -replace "prn","prune"} > windows.toml
        mv -Force windows.toml Cargo.toml
    - name: Fetch Dependencies
      run: cargo fetch
    - name: Build
      run: cargo build --all-features
    - name: Run tests
      run: cargo test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features